@import "scss/_caresheets";

.ref-not-found {
    color: #F00;
}

.book-brand {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    span {
        display: none;
    }
}

.markdown {
    p {
        quotes: "„" "“" "‚" "‘";
    }
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;

    th:empty {
        display: none;
    }
    table {
        text-align: left;
    }

    .footnote-ref {
        font-size: x-small;
        vertical-align: super;
    }
}

img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.img-round {
    img {
        border-radius: 100%;
    }
}

.wa-image {
    img {
        box-shadow: none;
    }
}

figcaption {
    h4 {
        margin: 0 !important;
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
}

.small {
    font-size: 0.8em;    
}

h1 {
    border: solid 1px #000;
    padding-top: 1em;
    padding-bottom: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    &::before {
        position: absolute;
        bottom: -15px;
        right: -5px;
        width: 100px;
        content: "  ";
        background-image: url("img/logo_border.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 160px;
        height: 50px;
        clear: both;
    }
    small {
        display: block;
        font-size: 0.5em;
        color: #AAA;
        padding: 0.5em;
        font-weight: normal;
    }
}

h2 {
    padding-bottom: 0.5em;
    border-bottom: solid 1px #CCC;
}

.caresheet_section {
    .section_thumbnail {
        border-radius: 100%;
        //flex-basis: content;
        width: 200px;
    }
    .species_title {
        text-align: left;
    }
    .section_content {
        min-height: 200px;
        display: flex;
        align-items: flex-start;
        .species_list {
            list-style-type: none;
            li.species {
                .species_title a {
                    font-weight: bold;
                    font-size: 1.2em;
                }
                margin-bottom: 1.3em;
                .description {
                    padding-left: 1em;
                    font-size: 0.8em;
                }
            }
            .variations {
                list-style-type: none;
            }
        }
    }
    .section_footer {
        a {
            &::after { content: " ⇨"}
        }
    }
}

.section_summary {
    padding-left: 1em;
    .section_summary_inner {
        height: 100%;
        
        background-image: url(img/summary_bg.png);
        background-repeat: no-repeat;
        background-size: auto;
        //border-bottom: solid 1px #EEE;
        margin-bottom: 1em;
    }
    .section_summary_text {
        padding-left: 3em;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.6);
    }

    div.more {
        text-align: left;
        padding-top: 0.5em;
        padding-left: 0.5em;
    }
    .more a {        
        &::after { content: " ⇨"}
    }
}

table.species-list {
    tr.valid {
        border-color: #0F0;
        background-color: rgba(0,255,0, 0.1);
    } 
    tr.synonym {
        border-color: #555;
        background-color: rgba(0,0,0, 0.1);
    }
    tr.invalid {
        border-color: #F00;
        background-color: rgba(255,0,0, 0.1);
    }
    tr.nomen-dubium {
        border-color: #FF0;
        background-color: rgba(255,255, 0, 0.1);
    }
}

article.species-list {
    article.species {
        .species_header {
            border-bottom: 1px #DDD solid;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            gap: 0.5em;
            padding-bottom: 0;
            .species_name {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0em;
            }
            .first_description {
                font-size: 0.8em;
                font-weight: lighter;
            }
        }
        .species_body {
            margin-top: 0.5em;
            margin-left: 1em;
            .synonym {
                color: #555;
                margin: 0;
                margin-left: 1em;
            }
        }
        margin-bottom: 2em;
    }
}

.internal-link {
    &::before {
        content: "INFO:";
        font-weight: bold;
    } 
    border: solid 2px #ccc;
    border-radius: 0.3em;    
    padding: 1em;
    margin: 1em;
    background-color: rgba(200,200,200,0.3);
}

.cs-key {
    font-weight: bold;
    font-size: 0.8em;
    border-bottom: solid 1px #EEE;  
    margin-bottom: 0.5em;
    color: #555;
}
.cs-flex-key {
    font-weight: bold;
    border-bottom: solid 1px #EEE;
    margin-left: 1em;
    color: #555;
    font-size: 0.8em;
}
.cs-value {
    margin-top: 0.3em;
    padding-left: 1em;
    margin-bottom: 1.2em;
}
.cs-flex-value {
    padding-left: 2em;
    margin-bottom: 1em;
}

.clearfix {
    display: block;
    clear: both;
}

blockquote.good {
    border-color: #0F0;
    background-color: rgba(0,255,0, 0.1);
}

.hero-figure {
    display: flex;
    flex-flow: column;

    position: relative;

    width: 100%;

    .hero-img {
        width: 100%;
        margin: 0;
    }

    figcaption {
        background-color: rgba(0,0,0, 0.5);
        margin: 0 0 0 0;
        padding: 1em;
        
        position: absolute;
        bottom: 0;
        width: 100%;

        text-align: right;

        color: #CCC;
        h4 {
            font-size: 2em;
        }
    }
}

.authors {
    font-size: 0.8em;
    color: #555;
    .author-list{
        margin-top: 0;
        list-style: none;
        .author {

        }
    }
}

.footnotes {

    ol::before {
        content: "Fussnoten";
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    font-size: 0.8em;
    color: #333;
}

.glossary {
    /* Stil für die Definition List */
    dl {
        margin-bottom: 20px;
        padding-left: 1em;
    }
    
    /* Stil für die Definition List Titel */
    dt {
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #ddd;
        //padding: 10px;
    }

    /* Stil für die Definition List Definitionen */
    dd {
        padding: 10px;
        margin-left: 0;
        margin-bottom: 10px;
        padding-left: 1em;
    }

}

.wa-wrapper {
    display: flex;
    .wa-image {
        min-width: 60px;
        margin: 0.5em;
    }
    ul {
        list-style-type: disclosure-closed;
        padding-left: 1.3em;
    }
}

@media screen and (min-width: $container-max-width) {
    .fig-right {
        float: right;
        padding-left: 1em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }


    .fig-left {
        float: left;
        padding-right: 1.3em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex: 1 1;
    }

    .cs-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .cs-column {
        flex: 1 1;
    }

    .hero-figure {
        display: flex;
        flex-flow: column;
    
        position: relative;
    
        width: 100%;
    
        .hero-img {
            width: 100%;
            margin: 0;
        }
    
        figcaption {
            background-color: rgba(0,0,0, 0.5);
            margin: 0 0 0 0;
            padding: 1em;
            
            position: absolute;
            bottom: 0;
            width: 100%;
    
            text-align: right;
    
            color: #CCC;
            h4 {
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .fig-right {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .fig-left {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex-grow: 2;
    }

    .cs-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .cs-column {
        flex-grow: 2;
    }

    .hero-figure {
        display: flex;
        flex-flow: column;
    
        position: relative;
    
        width: 100%;
    
        .hero-img {
            width: 100%;
            margin: 0;
        }
    
        figcaption {
            background-color: rgba(0,0,0, 0.4);
            margin: 0 0 0 0;
            padding: 0.5em;
            
            position: absolute;
            bottom: 0;
            width: 100%;
    
            text-align: right;
    
            color: #CCC;
            h4 {
                font-size: 1em;
            }
        }
    }

    .caresheet_section {
        padding-left: 0;
        .section_thumbnail {
            display: block;
            margin: auto;
        }
        .section_content {
            display: block;
            align-items: flex-start;
            .species_list {
                list-style-type: none;
                padding-left: 0;
                li.species {
                    .species_title a {
                        font-weight: bold;
                    }
                    margin-bottom: 1.3em;
                    .description {
                        padding-left: 0;
                    }
                }
                .variations {
                    list-style-type: none;
                }
            }
        }
    
    }
}

.revision-hint {
    border-color: #FF0;
    background-color: rgba(255,255, 0, 0.1);
    border: solid 2px #FF0;
    display: flex;
    

    img {
        width: 33%;
        max-width: 200px !important;
        height: 100%; // Oder eine feste Höhe, z.B. 150px
        object-fit: contain; // Fügt dies hinzu, um die Proportionen zu erzwingen
        box-shadow: none;
    }
    div {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
    }
}