<div class="revision-hint hint warning hint-warning">
    <img src="/img/under_construction.png" alt="Hinweis: Seite unter Bearbeitung!" width="200" height="200">
    <div>
        
        <p>
            <strong>
                Wir arbeiten gerade an ScoloHub.com. Im Zuge dessen werden wir einige Inhalte redaktionell überarbeiten und an den heutigen Wissensstand aus eigenen Erfahrungen, aber auch wissenschaftlichen Erkenntnissen anpassen.
            </strong>
        </p>

    </div>
</div>
